@font-face {
  font-family: 'KGSS';
  src: url('./fonts/KGSummerSunshine.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans';
  src: url('./fonts/JosefinSans-Light.ttf');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'JosefinSans', serif;
  text-align: center;
}

button {
  font-family: 'JosefinSans', serif;
  background: none;
  border: none;
  font-size: 1em;
}

button:hover {
  cursor: pointer;
  opacity: 50%;
}

h1 {
  font-family: 'KGSS';
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 1em;
  display: flex;
  justify-content: center;
}

.nav-bar {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.text-div {
  padding: 15px;
}

.active {
  text-decoration: underline;
}

