@font-face {
  font-family: 'KGSS';
  src: url('./fonts/KGSummerSunshine.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans';
  src: url('./fonts/JosefinSans-Light.ttf');
  font-weight: 600;
  font-style: normal;
}

button {
  font-family: 'JosefinSans', serif;
  background: none;
  border: none;
}

body {
  font-family: 'JosefinSans', serif;
}

h1 {
  font-family: 'KGSS'
}
